*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
body{
    /* background-color: white; */
    background-image: url("pictures/img.jpg");
    background-position: center;
    background-size : cover;

}
.nav h1{
    text-align: center;
    font-size: 45px;
    width :100%;
    text-decoration: none;
    background-color: pink;
}
.about_us{
    padding: 2%;
    height: 100%;
    width: 60%;
}
.about_us p{
    color: whitesmoke;
    font-size: large;
    font-weight: 500;
    text-transform: lowercase;
}
.about_us a{
    color : #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}